amazon-braket-pennylane-plugin==1.1.0.post1
cvxopt==1.2.6
cvxpy==1.1.11
dill==0.3.3
ipywidgets==7.6.3
jupyter==1.0.0
jupytext==1.10.2
matplotlib==3.3.4
Mosek==9.2.40
notebook==6.2.0
numpy==1.19.5
pandas==1.2.2
pytest==6.2.2
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
sklearn==0.0
sympy==1.7.1
tqdm==4.57.0
widgetsnbextension==3.5.1
git+https://github.com/dwierichs/pennylane_jjm@kernel_module
pennylane-cirq==0.14.0
keras==2.4.3
tensorflow==2.4.1
rsmf==0.2
